<%# <button type="button">Click Me!</button> %>
<%#= link_to "Results", home_results_path, class:"btn btn-secondary"%>
<h1>Select Body Category</h1>
<%= image_tag "body3.png", :style => "float: center; margin: 10px 10px 10px", height: 800 %>
<%= link_to "Arms", home_arms_path, :style => "float: left; margin: 0px", class:"btn btn-secondary"%>
<%= link_to "Head", home_head_path, :style => "float: left; margin: 0px 0px 10px", class:"btn btn-secondary"%>
<%= link_to "Core", home_core_path, :style => "float: right: margin: 0px 900px 10px" , class:"btn btn-secondary"%>
<%= link_to "Legs", home_legs_path, :style => "float: center: margin: 0px 0px 0px" , class:"btn btn-secondary"%>


   


