<%# <button type="button">Click Me!</button> %>
<%#= link_to "Results", home_results_path, class:"btn btn-secondary"%>
<h1>Off-Day Home</h1>
<br>

<%# Main Page #%>
<%= image_tag "body3.png", :style => "float: center; margin: 10px 10px 10px", height: 500 %>
<strong><font size = "9">Feeling off? Welcome to OFF-DAY! Please select the area on your body that is feeling Off and we will help you :)</strong> 
<%# PAGE LINKS #%>
<%= link_to "Head", home_head_path, :style => "float: center; margin: 0px 0px 10px", class:"btn btn-secondary btn-lg btn-block "%>
<%= link_to "Arms", home_arms_path, :style => "float: center; margin: 0px 0px 10px", class:"btn btn-secondary btn-lg btn-block"%>
<%= link_to "Core", home_core_path, :style => "float: center: margin: 0px 0px 10px" , class:"btn btn-secondary btn-lg btn-block"%>
<%= link_to "Legs", home_legs_path, :style => "float: center: margin: 0px 0px 10px" , class:"btn btn-secondary btn-lg btn-block"%>


   


