<p id="notice"><%= notice %></p>

<h1>Symptoms</h1>

<table>

  <thead>
    <tr>
      <th>Sym desc</th>
      <th>Sym severity</th>
      <th>Sym location</th>
      <th>Solution</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  

  <%= form_with model: @symptom, method: :get do |form| %> 
    <%= form.select :sym_desc, options_for_select(@symptoms.collect{|u| [u.sym_desc]})%>
    <%= form.submit "Search" %>
  <% end %>
  
  <p>
  Solution:
  <strong>
    <%= @chosen_symptom %>
  </strong>
  </p>
  
  
  <tbody>
    <% @symptoms.each do |symptom| %>
      <tr>
        <td><%= symptom.sym_desc %></td>
        <td><%= symptom.sym_severity %></td>
        <td><%= symptom.sym_location %></td>
        <td><%= symptom.solution %></td>
        <td><%= link_to 'Show', symptom %></td>
        <td><%= link_to 'Edit', edit_symptom_path(symptom) %></td>
        <td><%= button_to 'Destroy', symptom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody> 

</table>

<br>

<%= link_to 'New Symptom', new_symptom_path %>
